@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  body {
    @apply bg-zinc-200 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100;
  }
}

.bg {
  background-image: url("/bg.png"), url("/bg-tile.png");
  background-repeat: no-repeat, repeat;
  background-position: center, center;
  background-size: contain, contain;
}

@media screen and (max-width: 768px) {
  .bg {
    background-image: url("/bg.png");
    background-size: cover;
    background-position: center;
  }
}

.snow-button {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 8em;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to bottom, #4f8aae, #416c99, #283470),
    linear-gradient(to bottom, #416c99, #283470);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  transition-property: transform, filter;
  transition-duration: 0.2s;
  will-change: transform;
  resize: both;
  font-size: 14px;
  font-weight: 600;
}

.snow-button::after {
  --overflow-x: 4px;
  --snow-image: url("/button_snow.webp");
  content: "";
  position: absolute;
  top: -8px;
  left: calc(var(--overflow-x) * -1);
  border-image-source: var(--snow-image);
  border-image-slice: calc(6 * 56 / 20) fill;
  border-image-width: calc(28px / 3);
  border-image-repeat: round;
  width: calc(100% + var(--overflow-x) * 2);
  height: 22px;
  filter: drop-shadow(0 2px 1px rgb(0 0 0 / 0.25));
  opacity: 1;
}
